* {
    font-family: "Rockwell";
}

::selection{
    background-color: rgb(132, 0, 255);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(210, 135, 250);

    height: 540px;
}

form{
    padding: 10px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

    form div{
        display: flex;
        flex-direction: column;
        
        width: 100%;
    }

    form div div{
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-top: 4px;
        margin-bottom: 4px;
        width: 100%;
    }

        form div div label{
            margin: 0px;
        }

    form label{
        margin-bottom: 4px;
    }

    form input{
        padding: 6px;
        text-align: center;
        font-family: monospace;
        letter-spacing: 2px;
    }

    form input[type=radio]{
        margin: 0px;
        margin-right: 6px;
        width: 20px;
        height: 20px;

        accent-color: rgb(136, 0, 255);
    }

    form button{
        cursor: pointer;
        margin-top: 18px;
        margin-bottom: 6px;
        padding: 10px;
        
        font-family: monospace;
        font-weight: 900;
        color: white;
        background-color: rgb(152, 35, 255);
        border: none;
        border-radius: 6px;
        box-shadow: 0px 6px rgb(124, 0, 173);

        transition: 0.2s;
    }

    form button:hover{
        background-color: rgb(181, 96, 255);
    }

    form button:active{
        transform: translateY(3px);
        box-shadow: 0px 3px rgb(124, 0, 173);
    }